<div class="modal fade"
     id="contactUsModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-hidden="true">
                    <span>Close</span>
                </a>
                <br/>
                <h4 class="modal-title text-xs-center fw-bold mt" id="myModalLabel">
                    Get In Touch
                </h4>
            </div>
            <br/>
            <div class="modal-body bg-gray-lighter">
                <contact-us-form-component></contact-us-form-component>
            </div>
        </div>
    </div>
</div>