<nav class="navbar navbar-full bg-faded">
    <div id="navbarResponsive">
        <a class="navbar-brand" href="#">
            <img class="logo" src="../../../../assets/img/logo-184x43.png" alt="AcmeEmail">
        </a>
        <ul class="nav navbar-nav pull-right hidden-sm-down">
            <li class="nav-item active">
                <a pageScroll href="#our-services" class="nav-link">Services<span class="sr-only">(current)</span></a>
            </li>
            <!--<li class="nav-item">-->
            <!--<a pageScroll href="#work" class="nav-link">Work</a>-->
            <!--</li>-->
            <li class="nav-item">
                <a pageScroll href="#about-us" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
                <a pageScroll href="#contact-us" class="nav-link">Contact Us</a>
            </li>
        </ul>
        <a class="btn pull-right hidden-md-up"
           (click)="toggleSideBar()">
            <span class="icon-burger"></span>
        </a>
    </div>
</nav>