<div class="row">
    <div class="col-lg-6">
        <table class="table table-responsive table-striped">
            <thead>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Date</th>
            </thead>
            <tbody>
            <tr *ngFor="let message of messagesScheduled"
                (click)="onSelect(message)"
                [class.selected]="message === selectedMessage">
                <td>
                    <button class="btn btn-outline-success"
                            (click)="btnClick(message)">
                        {{ message.name }}
                    </button>
                </td>
                <td>{{ message.messageType }}</td>
                <td>{{ message.status }}</td>
                <td>{{ message.dateSchedule }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-6">
        <div *ngIf="selectedMessage">
            <h2>{{selectedMessage.name}} details!</h2>
            <div>
                <label>id: </label> {{selectedMessage.id}}
            </div>
            <div>
                <label>name: </label>
                <input [(ngModel)]="selectedMessage.name" placeholder="name"/>
                <br/><br/>
                <label>Message Type: </label>
                <input [(ngModel)]="selectedMessage.messageType" placeholder="name"/>
                <br/><br/>
                <span>{{ selectedMessage.status }} to  {{ selectedMessage.dateSchedule }}</span>


            </div>
        </div>
    </div>

</div>
