<div class="row m-l-3 m-t-2">
    <ul class="nav">
        <li class="nav-item m-b-2">
            <a pageScroll href="#layout" (click)="toggleSideBar()">
                <img src="../../../../assets/icon/android-icon-36x36.png" alt="Acme Email">
            </a>
        </li>
        <li class="nav-item">
            <a pageScroll href="#our-services" class="nav-link active" (click)="toggleSideBar()">Services</a>
        </li>
        <!--<li class="nav-item">-->
        <!--<a pageScroll href="#work" class="nav-link" (click)="toggleSideBar()">Work</a>-->
        <!--</li>-->
        <li class="nav-item">
            <a pageScroll href="#about-us" class="nav-link" (click)="toggleSideBar()">About Us</a>
        </li>

    </ul>
</div>