@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../node_modules/bootstrap/scss/mixins/clearfix";
@import "../../scss/variables";

@mixin font-size-bp-down($xl-size,$lg-size,$sm-size) {
  @include media-breakpoint-down(xl) {
    font-size: $xl-size;
  }

  @include media-breakpoint-down(lg) {
    font-size: $lg-size;
  }

  @include media-breakpoint-down(sm) {
    font-size: $sm-size;
  }
}

.main-section h1 {
  letter-spacing: 0.89px;
  font-family: lato-light, sans-serif;
  color: #FFFFFF;
  width: 100%;
  float: right;
  padding-top: 20px;
  margin-top: 20px;

  @include font-size-bp-down(64px, 54px, 30px);

}

.main-section p {
  letter-spacing: 0.34px;
  color: white;

  @include font-size-bp-down(18px, 18px, 16px);

}

// Jumbotron
.jumbotron {
  background: transparent;
  @include media-breakpoint-down(xl) {
    padding-top: 10%;
  }
  .btn {
    &:hover, &:focus, &:active {
      background-color: transparent;
      border-color: #ffffff;
      outline-color: #ffffff;
    }
  }
}

.sections {
  @include media-breakpoint-down(xl) {
    margin: 96px 234px;
  }

  @include media-breakpoint-down(lg) {
    margin: 78px 124px;
  }

  @include media-breakpoint-down(md) {
    margin: 76px 83px;
  }

  @include media-breakpoint-down(sm) {
    margin: 24px 15px;
  }

  h1 {
    color: #464648;

    @include font-size-bp-down(54px, 48px, 30px);
  }
}

.our-service-row {
  @include media-breakpoint-down(xl) {
    margin: 8rem 0;
  }

  @include media-breakpoint-down(md) {
    margin: 3rem -50px;
  }
}

.no-padding {
  padding: 0 !important;
}

.contact-us {
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
}


.huge {
  font-size: 40px;
  float: right;
}


.panel-green {
  border-color: #5cb85c;
}

.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}

.panel-green a {
  color: #5cb85c;
}

.panel-green a:hover {
  color: #3d8b3d;
}

.panel-red {
  border-color: #d9534f;
}

.panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}

.panel-red a {
  color: #d9534f;
}

.panel-red a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
  min-height: 80px;
}

.panel-yellow a {
  color: #f0ad4e;
}

.panel-yellow a:hover {
  color: #df8a13;
}


.small-font{
  font-weight:100;
  letter-spacing: 1px;

}

.panel-pink {
  border-color: #e0136f;
}

.panel-pink .panel-heading {
  border-color: #e0136f;
  color: #fff;
  background-color: #e0136f;
  min-height: 80px;
}

.panel-pink a {
  color: #e0136f;
}

.panel-heading{
  border-radius: 20px;
  padding: 15px;
}

.text-card-count{
  margin-left: 5px;
}

.panel {
  margin-right: 5px;
  position: relative;
  top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  min-width: 200px;

}

.message-panel{
  width: 100% !important;
  position: relative;
  top: 80px;

}

.btn{
  width: 100px;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}