<section id="main-section" class="main-section">

    <!-- Carousel container -->

</section>

<section id="our-services" class="sections">
    <!--<h1 class="text-xs-center">Our Services</h1>-->
    <!--<div class="container">-->
        <!--<div class="row text-xs-center our-service-row" *ngFor="let service of services; let i = index;">-->
            <!--<div class="col-xs-12 col-sm-12 col-md-6 flex-md-middle" [ngClass]="{'push-md-6': i % 2 != 0}">-->
                <!--<img [src]="service.imgSrc" class="img-fluid m-x-auto {{ service.imgClass }}">-->
            <!--</div>-->
            <!--<div class="card col-xs-12 col-sm-12 col-md-6 flex-md-middle" [ngClass]="{'pull-md-6': i % 2 != 0 }">-->
                <!--<div class="card-block text-sm-center text-md-left">-->
                    <!--<h4 class="card-title">{{ service.cardTitle }}</h4>-->
                    <!--<p class="card-text">{{ service.cardText }}</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</section>

<section id="about-us" class="sections">

    <!--<h1 class="text-xs-center m-b-3">About Us</h1>-->
    <!--<div class="row">-->
        <!--<div class="col-md-9 col-lg-9 col-xl-10 push-md-1 push-lg-1">-->
            <!--<p class="card-text text-xs-center ">{{ "aboutus.text" | translate }}</p>-->
        <!--</div>-->
    <!--</div>-->
</section>
<hr/>

<section id="contact-us" class="sections">
    <!--<h1 class="text-xs-center m-b-3">Contact Us</h1>-->
    <!--<div class="row">-->
        <!--<div class="col-md-4 contact-us">-->
            <!--<p class="card-text text-xs-center ">Sydney, Australia</p>-->
        <!--</div>-->
        <!--<div class="col-md-4 contact-us">-->
            <!--<p class="card-text text-xs-center">Email: luiz@interactivehippo.com.au</p>-->
        <!--</div>-->
        <!--<div class="col-md-4 contact-us">-->
            <!--<p class="card-text text-xs-center">-->


            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
</section>

