<div class="modal fade"
     id="thankYouContact"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" aria-hidden="true" data-dismiss="modal" (click)="closeBoth()">
                    Skip
                    <span class="fa fa-long-arrow-right"></span>
                </a>
                <br/>
                <h4 class="modal-title text-xs-center fw-bold mt" id="myModalLabel">
                    Thank you!
                </h4>
                <span class="text-body-modal">
                    Our inbox can’t wait to get your message. Meanwhile, we would love to hear more about your Company - this will greatly help us to provide a more effective response.
                </span>
            </div>
            <br/>
            <div class="modal-body bg-gray-lighter">
                <thanks-form-component></thanks-form-component>
            </div>
        </div>
    </div>
</div>