<div class="row header">
    <div class="col-xs-6">
        <h4 class="title" id="myModalLabel">
            Thank you!
        </h4>
    </div>
    <div class="col-xs-6">
        <a class="close" aria-hidden="true" [routerLink]="['/home']">
            Skip
            <span class="fa fa-long-arrow-right"></span>
        </a>
    </div>
</div>
<br/>

<div class="text-body-modal">
    Our inbox can’t wait to get your message. Meanwhile, we would love to hear more about your Company - this will
    greatly help us to provide a more effective response.
</div>

<div class="modal-body bg-gray-lighter">
    <thanks-form-component></thanks-form-component>
</div>
